.wrapper {
    width: 350px;
    padding: 20px 0 26px 8px;
    margin-left: -18px;
    overflow-y: auto;
    height: 100vh;
    position: fixed;
    background: white;
    z-index: 1000;
    top: 66px;
    left: 25px;
}
