//COMMENTS

.container-comment {
    width: 40%;
    display: flex;
    flex-direction: column;
    flex: 0 0 554px;
    height: 100%;
    background-color: #fff;
}
.header-comment {
    margin: 0 20px;
}
.container-info {
    margin-top: 26px;
    padding: 16px;
    border-radius: 12px;
    background: rgba(22, 24, 35, 0.03);
}
.info-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.user {
    display: flex;
    margin-right: 12px;
}
.avatar {
    width: 40px;
    height: 40px;
    margin-right: 12px;
    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
}

.nickname-head {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.4rem;
    color: #161823;
}

.name {
    line-height: 1.8rem;
}

.username,
.time {
    font-weight: 400;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #161823;
}

.container {
    min-width: 200px;
}
.video-setting {
    padding: 13px;
    font-weight: 600;
    font-size: 1.6rem;
    color: #161823;

    &:hover {
        color: #fe2c55;
    }
}
.btn-follow {
    display: flex;
}
.btn-more {
    background-color: transparent;
}
.info-description {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.1rem;
    color: #161823;
}
.info-music {
    display: flex;
    align-self: center;
    margin-top: 8px;
    font-size: 1.4rem;
    gap: 4px;
}
.container-actions {
    margin: 16px 12px 0;
}
.action-video {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.handler,
.apps-share {
    display: flex;
    align-items: center;
    gap: 8px;
}
.share-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.actions {
    display: flex;
    align-items: center;
}
.action + .action {
    margin-left: 20px;
}
// .btn-action {
//     display: flex;
//     align-self: center;
//     justify-self: center;
//     width: 32px;
//     height: 32px;
//     margin-right: 6px;
//     border-radius: 50%;
//     background-color: rgba(22, 24, 35, 0.06);
// }
.counts {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #161823bf;
}
.loading {
    animation: spinner 0.5s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
aside {
    flex: 1;
}
.footer-comment {
    position: relative;
    padding: 21px 0;
    border-top: 1px solid #e5e6e7;
}
.container-footer {
    display: flex;
    align-items: center;
    margin: 0 30px;
}
.action-copy {
    display: flex;
    align-items: center;
    height: 100%;
    min-width: 100px;
    padding: 7px 18px;
    border-radius: 0;
    font-weight: 700;
    font-size: 1.4rem;
    background-color: transparent;
    color: #161823;
    border: none;

    &:hover {
        background-color: #fff;
    }
}

.content {
    overflow-y: auto;
}
.tab-container {
    margin: 0 32px;
}
